<h1>Show Product</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @product.name %>
  </li>

  <li>
    <strong>Desc:</strong>
    <%= @product.desc %>
  </li>

  <li>
    <strong>Price:</strong>
    <%= @product.price %>
  </li>

  <li>
    <strong>Inventory:</strong>
    <%= @product.inventory %>
  </li>

</ul>

<%= if @current_user do %>
  <div>
    <%= form_for @item_cset, Routes.cart_item_path(@conn, :create),
              [class: "form-inline"], fn f -> %>

      <%= hidden_input f, :user_id %>
      <%= hidden_input f, :product_id %>

      <div class="form-group">
        <%= number_input f, :count, class: "form-control" %>
        <%= error_tag f, :count %>
      </div>

      <div>
        <%= submit "Add to Cart", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>

<span>
  <%= if @current_user.admin do %>
    <%= link("Edit", to: Routes.product_path(@conn, :edit, @product),
      class: "btn btn-default") %>
  <% end %>
</span>
<span>
  <%= link("Back", to: Routes.product_path(@conn, :index),
    class: "btn btn-default") %>
</span>
